@media all {

* { 
	margin: 0; 
	padding: 0; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
body { 
	font-size: 18px; 
	line-height: 27px; 
	color: #444;
	/*background: url('/images/linen.png') repeat;*/
	background-color: #026873;
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .07) 50%, transparent 50%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, .13) 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, .17) 50%), -webkit-linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
}
td {
	padding: 10px;
	border: 1px solid #CCC;
}
.home a {
	text-decoration: none;

}
.img-wrap {
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    margin: 30px auto;
    max-width: 95%;
    padding: 20px;
    text-align: center;
}
.img-wrap img {
	border: 1px solid #CCCCCC;
	margin: 0 auto;
	max-width: 100%;
}
h1, h2, h3, h4 { color: #222; }
h1 { font-size: 2em; line-height: 2.5em; }
h2 { font-size: 1.5em; line-height: 2em; }
h3 { font-size: 1em; line-height: 1.5em; }
p { margin: 15px 0; }
ol, ul { margin: 0 0 15px 50px; }
section { width: 90%; margin: 0 auto; }
pre {
	background-color: #272822;
	color: #FFF;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	position: relative;
	white-space: pre;
	overflow: auto;
}
pre[rel]::after {
	content: attr(rel);
	position: absolute;
	padding: 9px;
	top: 0;
	left: 0;
	right: 0;
	font-size: 24px;
	line-height: 20px;
	height: 20px;
	color: white;
	background: #f27537; /* Old browsers */
	background: -moz-linear-gradient(left,  #f27537 0%, #f35808 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f27537), color-stop(100%,#f35808)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f27537 0%,#f35808 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f27537 0%,#f35808 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f27537 0%,#f35808 100%); /* IE10+ */
	background: linear-gradient(to right,  #f27537 0%,#f35808 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27537', endColorstr='#f35808',GradientType=1 ); /* IE6-9 */
	border-bottom: 3px solid #060808;
}
.clearfix { clear: both; font-size: 1px; height: 0; }
/*Header*/
header { 
	height: 50px;
	line-height: 50px;
	background-color: #333;
	color: #FFF;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;
}
header h1 { width: 300px; float: left; line-height: 50px; font-size: 1em; text-indent: 25px; }
header h1 a { color: #FFF; text-decoration: none; }
.icons { 
	float: right;
	width: 45px;
	position: fixed;
	right: 0;
	top: 170px;
}
header ul { 
	list-style: none; 
	margin: 0 25px 0 0;
	width: 615px;
	float: right;
}
header ul li {
	float: left;
	margin-left: 15px;
	line-height: 50px;
}
header ul li a { text-decoration: none; }
header ul li:hover {
	-moz-transform: scale(1.25) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1.25) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1.25) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1.25) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1.25) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
/*Navigation*/
header ul li:nth-child(1) a {
	color: #26ADE4;
}
header ul li:nth-child(2) a {
	color: #9DC425;
}
header ul li:nth-child(3) a {
	color: #DABB1E;
	
}
header ul li:nth-child(4) a {
	color: #E86A03;
	
}
header ul li:nth-child(5) a {
	color: #D05D2A;
}
header ul li:nth-child(6) a {
	color: #B066ED;
}
/*All Pages*/
.content {
	width: 90%;
	max-width: 1200px;
	min-width: 307px;
	margin: 0 auto;
	background: #FFF;
	padding: 100px 50px;
	-webkit-box-shadow: 0px 1px 5px 1px #333;
	box-shadow: 0px 1px 5px 1px #333;
}
/*Homepage Posts*/
article { 
	margin-bottom: 50px;
	width: 50%;
	height: 250px;
	border: 1px solid #FAFAFA;
	float: left;
	background-image: -webkit-linear-gradient(0deg, transparent 100%, white 50%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
	background-size: 100% 100%, 62px 62px;
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
	-ms-transition: all 750ms ease;
	-o-transition: all 750ms ease;
	transition: all 750ms ease;
}
article:nth-child(1) {
	background-color: #26ADE4;
}
article:nth-child(2) {
	background-color: #9DC425;
}
article:nth-child(4) {
	background-color: #DABB1E;
}
article:nth-child(5) {
	background-color: #E86A03;
}
article:nth-child(7) {
	background-color: #D05D2A;
}
article:nth-child(8) {
	background-color: #B066ED;
}
article a { 
	display: block; 
	text-decoration: none; 
	color: #333; 
	padding: 15px; 
	height: 238px;
	width: 98%;
	margin-top: 5px;
	margin-left: 1%;
	background: white;
}
article:hover { background-color: #FFF !important; }
.excerpt { margin-top: 25px; }
.posts h1 { font-size: 1.5em; line-height: 1em; }
.posts h1 a { color: #333; text-decoration: none; }
.posts ul, .posts ol { list-style: none; }
.date { 
	font-size: 12px; 
	color: #C5C5C5; 
	position: relative;
	top: -5px;
	left: 1px; 
}
.loadMore { text-align: center; }
.readMore {
	color: #444;
	font-size: 20px;
	font-weight: bold;
	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	background-repeat: repeat-x;
	border: 1px solid #D5D5D5;
	text-decoration: none;
	padding: 5px 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.readMore:hover {
	color: #555;
	background-image: -moz-linear-gradient(#EAEAEA, #FAFAFA);
	background-image: -webkit-linear-gradient(#EAEAEA, #FAFAFA);
	background-image: linear-gradient(#EAEAEA, #FAFAFA);
}
/*Individual Post*/
.title { 
	font-size: 48px;
	font-weight: 900;
	margin-top: 0.5em;
	line-height: 1.1em;
	margin-bottom: 1em;
	color: #222;
}
/*Archives*/
.archive_link {
	font-size: 1em;
	line-height: 2.5em;
}
.archive_link a {
	font-size: 2em;
	line-height: 2.5em;
	color: #E86A03;
	text-decoration: none;
}
.archive_title {
	color: #333;
	font-weight: 900;
	text-decoration: none;
}
.archive_title:hover {
	color: #026873;
}
.archive_caption {
	font-size: 10px;
	color: #666;
}
.archive_date {
	font-size: 12px;
}
.page_count {
	line-height: 35px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #C5C5C5;
	filter: dropshadow(color=#C5C5C5, offx=0, offy=1);
}
.pagination {
	width: 100%;
	height: 35px;
	padding: 0 20px;
	float: left;
	background-color: #EAEAEA;
	background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
	background-image: linear-gradient(#FAFAFA, #EAEAEA);
	background-repeat: repeat-x;
	border: 1px solid #D5D5D5;
	text-align: center;
}
.pagination a {
	color: #26ADE4;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
}
.pagination .prev {
	float: left;
}
.pagination .next {
	float: right;
}
/*Sidebar*/
.twitter_icon a {
	background: url('../images/insprite.png') no-repeat -101px 0;
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	float: left;
}
.rss_icon a {
	background: url('../images/insprite.png') no-repeat -51px 0;
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	float: left;
}
.facebook_icon a {
	background: url('../images/insprite.png') no-repeat -1px 0;
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	float: left;
}
#disqus_thread {
	width: 80%;
	margin: 0 auto;
}

.show-hide-navigation {
	display: none;
}
}

@media all and (max-width: 970px) {
	h1 { line-height: 1.25em; }
	h2, h3 { line-height: 1em; }
	header {
		position: static;
	}
	header h1 {
		width: auto;
		float: none;
		text-align: center;
		text-indent: 0;
	}
	header ul {
		width: 100%;
		float: left;
		margin: 0;
	}
	header ul li {
		width: 50%;
		display: block;
		text-align: center;
		float: left;
		margin: 0;
		background-color: #EAEAEA;
		background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
		background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
		background-image: linear-gradient(#FAFAFA, #EAEAEA);
		background-repeat: repeat-x;
		border: 1px solid #D5D5D5;
	}
	header ul li:hover {
		background: #444;
		border: 1px solid #000;
		-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transition: all 200ms ease;
		-moz-transition: all 10ms ease;
		-ms-transition: all 10ms ease;
		-o-transition: all 10ms ease;
		transition: all 10ms ease;
	}
	header ul li:hover a {
		color: #FAFAFA;
	}
	header ul li a {
		display: block;
	}
	.content {
		padding: 200px 20px 20px 20px;
	}
	.title {
		font-size: 32px;
	}
	.archive_link a {
		font-size: 1.25em;
	}
	.icons {
		display: none;
	}
	article {
		width: 100%;
		height: 320px;
		border: none;
		float: none;
	}
	article a {
		height: 300px;
	}
} 

@media all and (max-width: 499px) {
	header ul li {
		width: 100%;
		height: 35px;
		line-height: 35px;
		height: 0;
		padding: 0;
	}
	.excerpt { margin-top: 0; }
	.show-hide-navigation {
		display: block;
		width: 100%;
		line-height: 25px;
		-webkit-border-radius: 0;
		border-radius: 0;
		position: relative;
		z-index: 999;
		text-align: center;
		text-decoration: none;
		color: #b5b5b5;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	body.show-nav header li {
		height: auto;
		padding: auto;
	}
	body.show-nav .show-hide-navigation {
		display: none;
	}
	body.show-nav header ul li:nth-child(4) {
		display: none;
	}
	body.show-nav header ul li:nth-child(6) {
		display: none;
	}
}